div(id="modal-info" class="modal fade" tabindex="-1" role="dialog")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title") Details

      div(class="modal-body")
        
        form(class="form-horizontal")
          div(class="form-group")
            label(class="col-sm-2 control-label") Name
            div(class="col-sm-10")
              input(type="text" class="form-control contact-name" value="" name="contact-name" disabled)

          div(class="form-group")
            label(class="col-sm-2 control-label") Number
            div(class="col-sm-10")
              input(type="text" class="form-control contact-number" value="" name="contact-number" disabled)

      div(class="modal-footer")
        button(type="button" class="btn btn-default" data-dismiss="modal") Close


div(id="modal-newedit" class="modal fade" tabindex="-1" role="dialog" data-index="-1")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title") Modal title

      div(class="modal-body")
        
        form(class="form-horizontal" name="formNewEdit" novalidate)
          div(class="form-group" ng-class="{'has-error': formNewEdit.contactName.$invalid}")
            label(class="col-sm-2 control-label") Name
            div(class="col-sm-10")
              input(type="text" class="form-control contact-name" value="" name="contactName" ng-model="contact.name" required)
              span(ng-show="formNewEdit.contactName.$error.required" class="help-block") Name is required.

          div(class="form-group" ng-class="{'has-error': formNewEdit.contactNumber.$invalid}")
            label(class="col-sm-2 control-label") Number
            div(class="col-sm-10")
              input(type="text" class="form-control contact-number" value="" name="contactNumber" ng-model="contact.contact_number" placeholder="09XX-XXXXXXX" ng-pattern="regex_mobile" required)
              span(ng-show="formNewEdit.contactNumber.$error.required" class="help-block") Number is required.
              span(ng-show="formNewEdit.contactNumber.$error.pattern" class="help-block") Invalid mobile number. (09XX-XXXXXXX)

      div(class="modal-footer")
        button(type="button" class="btn btn-default" data-dismiss="modal") Close
        button(type="button" class="btn btn-primary" ng-click='save(formNewEdit)' ng-disabled="formNewEdit.$invalid") Save