extend layout
block content
  .container
    h1
      {{header}}
      button(type='button' class='btn btn-lg btn-success pull-right' ng-click='new()')
        span(class='glyphicon glyphicon-folder-open' aria-hidden='true')

      .table-responsive
        table(class='table table-striped')
          thead
            tr
              th(class='line') No.
              th(class='full_name') Name
              th(class='contact') Number
              th(class='action') Action
          tbody
            tr(ng-repeat='contact in contacts')
              td {{$index + 1}}
              td {{contact.name}}
              td {{contact.contact_number}}
              td
                button(type='button' class='btn btn-sm btn-info')
                  span(class='glyphicon glyphicon-info-sign' aria-hidden='true' ng-click='info($index, contact)')
                &nbsp;
                button(type='button' class='btn btn-sm btn-primary')
                  span(class='glyphicon glyphicon-pencil' aria-hidden='true' ng-click='edit($index, contact)')
                &nbsp;
                button(type='button' class='btn btn-sm btn-danger' ng-click='delete($index, contact)')
                  span(class='glyphicon glyphicon-remove' aria-hidden='true')