doctype
html(ng-app='pbApp')
  head
    title #{title} - PhoneBook
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/build/css/style.css')

  body(ng-controller='pbMainController' ng-cloak)
    nav(class='navbar navbar-inverse')
      .container
        .navbar-header
          button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(href='/' class='navbar-brand') PhoneBook

    block content

    include ./includes/modals.jade

    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/underscore/underscore-min.js')
    script(src='/libs/bootstrap/js/modal.js')
    script(src='/libs/angular/angular.min.js')
    script(src='/libs/angular-sanitize/angular-sanitize.min.js')
    script(src='/libs/angular-resource/angular-resource.min.js')
    script(src='/libs/angular-messages/angular-messages.min.js')
    script(src='/js/pbApp.js')
    script(src='/js/controllers/pbMainController.js')